.checkout-form {
  width: 50%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

h2 {
  text-align: center;
  color: #333;
}

.step-0-container, .payment-container {
  margin-top: 20px;
}

.address-options h3, .saved-address-list h4, .new-address-form h4, .payment-container h3 {
  margin-bottom: 10px;
  color: #444;
}

.radio-group {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
  
  margin-left: 50px;
}

.radio-group label {
  display: flex;
  align-items: center;
  
  font-size: 14px;
  color: #555;
}

.radio-group input {
  margin-right: 0px;
  width: 100px;
}

.saved-address-list, .new-address-form {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.saved-address-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.saved-address-item input {
  margin-right: 10px;
  width: 10px;
  
}

.form-group-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group-row label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group-row input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.payment-options label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.payment-options input {
  margin-right: 10px;
  width: 10px;
}

.payment-options label[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.coming-soon {
  font-size: 12px;
  color: red;
  margin-left: 10px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.back-btn, .next-btn, .submit-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.back-btn {
  background-color: #ccc;
  
}

.next-btn {
  background-color: #28a745;
  color: white;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  
}

.back-btn:hover, .next-btn:hover, .submit-btn:hover {
  opacity: 0.8;
}
