/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 80px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 18px;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  width: 250px;
  background: none;
}

.search-icon {
  color: #666;
  margin-left: 5px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.profile-icon:hover{
  color: blue;
}
.notification-icon:hover{
  font-size: 26px;
  color: rgb(255, 251, 0);
}
/* Shop List */
.shops-section {
  padding: 20px;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 shops per row */
  gap: 20px;
}

.shop-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
}

.shop-card:hover {
  transform: scale(1.05);
}

.shop-card h3 {
  color: #2c3e50;
  font-size: 18px;
  margin-bottom: 10px;
}

.shop-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.shop-now-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.shop-now-btn:hover {
  background-color: #219150;
}
