.complete-body {
  padding: 20px;
}

.offer-form {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.offer-form h1 {
  text-align: center;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 3px;
}

.form-group input,
.form-group select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-offer-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  background: #0c9422;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-offer-btn:hover {
  background: #218838;
}

.offer-list {
  margin-top: 20px;
}

.offer-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.offer-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-product-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.offer-card p {
  font-size: 14px;
  margin: 5px 0;
}

.delete-btn {
  margin-top: auto;
  background: white;
  color: red;
  margin-left: 150px;
  width: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: red;
  color: white;
}
