/* Main container */
.customer-profile {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* Fixed Header */
.logo-block{
  margin-top: 10px;
}


.profile-blocks {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

/* Blocks (Order Details, Save Address, Contact Us) */
.block {
  width: 200px;
  height: 150px;
  background-color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.block h2 {
  font-size: 1.2rem;
  color: #333;
}
