
 .logo {
  width: 150px;
  height: auto;
  margin-bottom: 24px;
  border-radius: 50px;
} 



/* Button group styling */
 .button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
} 


